<table class = "brd-clpse brd-top w-100per">
  <% @classrooms.each do |klass| %>
  <tr onclick="document.location = '/classroom/<%= klass.id %>'" class = 'ft-lite mrg-l-n40 ft-sz-1q hov-bkg'>
    <td  class = "pad-l-5 pad-top-15"><%= klass.name %></td>
    <% teacher = klass.users.where('user_type = ?', 'teacher')[0] %>
    <td  class = "pad-l-5 pad-top-15 txt-rt"><%= teacher.first_name %> <%= teacher.last_name %></td>
  </tr>
  <% end %>
</table>
