<table class = "brd-clpse w-100per">

  <% @assignments.each do |assignment| %>
  <tr onclick='document.location = "<%= assignment_path(assignment.id) %>"' class = 'pad-5 ft-lite mrg-l-n40 ft-sz-1q hov-bkg'>
    <td  class = "pad-l-5 pad-top-15"><%= assignment.title %></a></td>
    <td  class = "pad-top-15 pad-l-20 pad-r-5 txt-rt">due: </td>
    <td  class = "pad-top-15 pad-l-20 pad-r-5 txt-rt"><%= assignment.due_date.month %>/<%= assignment.due_date.day %></td>
  </tr>
  <% end %>
</table>
