<div class = 'gill w-70per mrg-auto min-w-350px max-w-900px '>

  <!-- Display Student Overview Button if student -->
  <% if current_user.user_type == 'student' %>
    <form action="/users/<%= current_user.id %>" method="get">
      <input type = 'submit' class = 'brd-none w-100per dk-grn bkg-wt brd-grn mrg-top-10 ft-sz-1half ft-lite' value = "Student Overview" >
    </form>
  <% end %>

  <!-- Your Classes header, differs if teacher or student -->
  <div class = "w-100per">
    <h1 class = "ft-lite ft-sz-2 mrg-btm-0 pad-bt-5 inln-bk orange">Your Classes</h1>

    <% if current_user.user_type == 'student' %>
    <a class = "no-txt-dec black  hov-grn pad-l-20 flt-r mrg-top-37" href="/classroom/new">Add a Class</a>
    <% end %>

    <% if current_user.user_type == 'teacher' %>
    <a class = "no-txt-dec black  hov-grn pad-l-20 flt-r mrg-top-37" href="/classroom/new">Create a Class</a>
    <% end %>
  </div>

  <!-- Table of Classrooms -->
  <%= render partial: "list_classrooms" %>

  <!-- Pending assignments header -->
  <h1 class = "ft-lite ft-sz-2 mrg-btm-0 pad-bt-5 orange" >Pending Assignments</h1>

  <!-- Table of pending assignments -->
  <%= render partial: "list_assignments", locals: {assignments: @assignments} %>

</div>


