<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class = "gill w-400 mrg-auto">
  <h1 class = "ft-lite ft-sz-5 txt-ctr mrg-btm-0" >FrogPress</h1>
  <%= image_tag "frog.png", class: "w-100per" %>

  <form name="input" action="/users/sign_in" method="get">
  <input class = "w-100per brd-none ft-sz-1half brd-rad-5" type="submit" value="Sign In">
  </form>
  <p class = t"txt-r ft-itl"><a class = "no-txt-dec" href ='/users/sign_up'> Create an account</a></p>
</div>


</body>
</html>
