<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class = "gill w-400 mrg-auto">
  <h1 class = "ft-lite ft-sz-5 txt-ctr mrg-btm-0" >FrogPress</h1>
  <img class = "w-100per" src="assets/frog.png"/>
  <button class = "w-100per brd-none ft-sz-1half brd-rad-5">Sign Up</button>
  <p class = "txt-rt ft-itl">Already a member?</p>
</div>


</body>
</html>
