<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class = "gill w-400 mrg-auto">
  <h1 class = "ft-lite ft-sz-5 txt-ctr mrg-btm-0" >FrogPress</h1>
  <img class = "w-100per" src="assets/frog.png"/>
  <form name="input" action="/users/sign_up" method="get">
  <input class = "w-100per brd-none ft-sz-1half brd-rad-5" type="submit" value="Sign Up">
  </form>
  <p class = "txt-rt ft-itl"><a class = "no-txt-dec" href ='/users/sign_in'> Already a member?</a></p>
</div>


</body>
</html>
