<% @feedback = Feedback.new %>

<h3 class = "ft-lite brd-bt pad-bt-15 mrg-top-100" >Feedback</h3>
<%= form_for @feedback, url: feedback_index_path(@submission.id)  do |f| %>
<%= f.text_area :content, class: "w-100per mrg-btm-15 " %><br>
<%= f.hidden_field :submission_id, value: @submission.id %>
<%= f.submit "Publish Feedback", class: "brd-none w-101per green bkg-wt brd-grn" %>
<% end %>



