 <div class = "gill w-400 mrg-auto">
    <h2><%= @assignment.title %></h2>

    <h3>Prompt:</h3>
    <p><%= @assignment.content %></p>

    <textarea rows="10" cols="50"></textarea>
    <div>
    <button style="background:lightblue;">Save</button>
    <button style="background:lightgreen;">Submit</button>
    </div>
  </div>
