.table-title{
  font-weight: lighter;
  font-size: 2rem;
  color: #F47E0C; /*orange*/

  margin-bottom: 0px;
  padding-bottom: 5px;
  display: inline-block;
}

.edit-button{
  text-decoration: none;
  color: black;
  padding-left: 20px;
  float: right;
  margin-top: 37px;
}
.edit-button:hover{
  color: #557D73;
}

.classroom-name{
  font-weight: lighter;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.highchart {
  width: 40rem;
  margin: auto;
  padding: 0px;
  padding-top: 30px;
}


.txt-ctr{ text-align: center; }
.txt-rt{ text-align: right; }
.txt-lt{ text-align: left; }


.gill{ font-family: Gill Sans; }
.sacramento{ font-family: 'Sacramento', cursive;}

.ft-lite{ font-weight: lighter; }
.ft-bold{ font-weight: bold; }

.ft-itl{ font-style: italic; }
.fw-300 {font-weight:300;}

.ft-sz-10{ font-size: 10rem; }
.ft-sz-5{ font-size: 5rem; }
.ft-sz-4-5{ font-size: 4.5rem; }
.ft-sz-3{ font-size: 3rem; }
.ft-sz-2q{ font-size: 2.25rem; }
.ft-sz-2{ font-size: 2rem; }

.ft-sz-1half{ font-size: 1.5rem; }
.ft-sz-1q{ font-size: 1.25rem; }
.ft-sz-1{ font-size: 1rem; }
.ln-h-50 { line-height: 50px; }

.hov-grn:hover { color: #F47E0C; }
.hov-txt:hover { color: #557D73;}
.hov-bkg:hover { background-color: #edeff0;}

.white { color: white; }
.black { color: black; }
.dk-grn{ color: #557D73;}
.green { color: #A4CB50; }
.lime-grn{ color: #D6E24F;}
.orange{ color: #F47E0C;}
.lite-gry{ color: #E7EAE2;}
.liter-gry{ color: #edeff0;}
.dk-gry{color: #ADB6BA;}

.bkg-dk-gry{background-color: #ADB6BA;}
.bkg-gry{background-color: gray;}
.bkg-red{ background-color: red; }
.bkg-grn{ background-color: green; }
.bkg-gry{ background-color: gray; }
.bkg-wt{ background-color: white; }


.w-400{ width: 400px; }
.w-300{ width: 300px; }
.w-100{ width: 100px; }

.w-25per { width: 25%; }
.w-50per { width: 50%; }
.w-60per { width: 60%; }
.w-75per { width: 75%; }
.w-100per{ width: 100%; }
.w-101per{ width: 101%; }

.w-70per{ width: 70%; }
.min-w-7rem{min-width: 7rem;}
.min-w-350px{ min-width: 350px;}
.min-w-75per{ min-width: 75%;}
.max-w-900px{ max-width: 900px;}

.h-5rem{height: 5rem;}
.h-10rem{height: 10rem;}


.h-50{ height: 50px; }
.h-500{ height: 500px; }

.h-50per{height: 50%; }
.h-90per{height: 90%; }

.h-100per{height: 100%; }

img { height: 150%;}

.mrg-auto{ margin: auto; }
.mrg-btm-0{ margin-bottom: 0px; }
.mrg-bot-1 {margin-bottom: 1rem;}

.mrg-bot-2{margin-bottom: 2rem;}
.mrg-btm-15{margin-bottom: 15px;}
.mrg-btm-50{margin-bottom: 100px;}

.mrg-top-0{ margin-top: 0px; }
.mrg-top-10{ margin-top: 10px; }
.mrg-top-15{ margin-top: 15px; }

.mrg-top-45{ margin-top: 45px; }
.mrg-top-37{ margin-top: 37px; }
.mrg-top-100{ margin-top: 150px; }
.mrg-top-150{ margin-top: 150px; }


.mrg-l-n40{ margin-left: -40px; }

.mrg-l-0{ margin-left: 0px; }
.mrg-l-40per{ margin-left: 40%; }

.mrg-r-0{ margin-right: 0px; }
.mrg-r-15{ margin-right: 15px; }

.pad-r-5{ padding-right: 5px; }
.pad-l-5{ padding-left: 5px; }
.pad-l-20{ padding-left: 20px; }
.pad-l-200{ padding-left: 200px; }


.pad-bt-5{ padding-bottom: 5px; }
.pad-2{ padding: 2px; }

.pad-5{ padding: 5px; }
.pad-top-0{padding-top: 0px;}
.pad-top-15{padding-top: 15px;}
.pad-top-45{padding-top: 45px;}

.pad-bt-15{padding-bottom: 15px;}

.top-0-5rem{top: 0.5rem;}
.top-1rem{top:1rem;}
.left-14rem{left:14rem;}

.brd-none{ border: none; }
.brd-grn{ border: solid #557D73 1px;}
.brd-rad-5{ border-radius: 5px; }
.brd-top{ border-top: solid #F47E0C 1.5px; }
.brd-bt{ border-bottom: solid #F47E0C 1.5px; }
.brd-clpse{ border-collapse: collapse;}


.inln-bk{ display: inline-block; }
.block {display: block;}
.inline{ display: inline;}
.hidden{ visibility: hidden; }
.disp-no{ display: none;}
.flt-r{ float: right; }
.flt-l{ float: left; }

.disp-none{display: none;}
.abso{ position: absolute;}



.no-blt{ list-style-type: none; }
.no-txt-dec{ text-decoration: none; }

.vert-top{ vertical-align: top; }

.col-L {
  padding-right: 10px;
  width: 35%;
  display: inline-block;
}

.col-R {
  width: 60%;
  padding-left: 10px;
  display: inline-block;
}

@media only screen and (max-width : 775px){
  .col-R, .col-L{
    display: block;
    width: 100%;
    padding: 0px;
  }
}
