<html>
<head>
  <%= stylesheet_link_tag  asset_path('application'), media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag asset_path('pages'), "data-turbolinks-track" => true %>
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 +  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sacramento" />
  <title>Frog Press</title>
</head>
<body>
  <%= yield %>
</body>
</html>

